@import '../../responsive.scss';

.homePage {
    height: 100%;
    display: flex;

    .textContainer {
        flex: 3;

        .wrapper {
            padding-top: 80px;
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            height: 100%;
            gap: 50px;

            @include lg {
                padding-right: 50px;
            }

            @include md {
                padding: 0;
            }

            @include sm {
                justify-content: flex-start;
            }
        }

        h1 {
            font-size: 40px;

            @include lg {
                font-size: 30px;
            }
        }

        .boxes {
            display: flex;
            justify-content: space-between;

            @include sm {
                display: none;
            }

            h1 {
                font-size: 20px;

                @include lg {
                    font-size: 16px;
                }
            }

            h2 {
                font-size: 10px;
                font-weight: 300;

                @include lg {
                    font-size: 8px;
                }
            }
        }

    }

    .imgContainer {
        flex: 2;
        background-color: #fdeaea;
        position: relative;

        @include md {
            display: none;
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;

            @include lg {
                width: 105%;
            }
        }
    }
}