@import "./responsive.scss";

.layout {
  background-color: #cc2323f7;
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* 这个顺序要从大到小 */
  @include lg {
    background-color: #fee;
    max-width: 1280px; /*这样的话就可以实现在宽度变化时，layout的宽度在某个范围保持不变*/
  }
  @include md {
    background-color: #ff9;
    max-width: 768px;
  }
  @include sm {
    background-color: #614ecd;
    max-width: 640px;
  }
}
